<h1>AYCHTIIEMELL</h1>
<h2>Hi, <%= @name.capitalize %></h2>
<h3>The answer to the universe is <%= @answer_to_universe %></h3>

<p>I actually didn't use a DOCTYPE tag</p>
<p>Honestly, I feel pretty bad about it</p>
